$line-style: 2px solid rgba(131, 122, 122, 1);

.post-title {
    color: rgb(21, 97, 25);
    padding: 3px;
    text-align: center;
}

.post-header-line {
    background: rgb(177, 236, 171);
    border-top: $line-style;
    border-bottom: $line-style;
    padding: 5px 0px 5px 15px;
    font-style: italic;
}

.post-content {
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
}